@{
    ViewBag.Title = "";
}
<h2></h2>
<div ng-controller="HomeController">
    {{Mensagem}}

    <form class="form-inline" name="formReserva">
        <form>
            <input type="button"
                value="Reservas"
                onclick="self.location = 'Reservas/Listagem'">
        </form>
    </form>
</div>
